.graph {
    position: relative;
    margin: 30px;

    .edge {
        height: 5px;
        position: absolute;
        cursor: pointer;
    }

    .vertex {
        position: absolute;
        width: 10px;
        height: 10px;
        margin-top:-3px;
        margin-left:-5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .vertex:hover {
        position: absolute;
        width: 10px;
        height: 10px;
        border: 3px solid yellow;
        border-radius: 5px;
        cursor: pointer;
        margin-top:-6px;
        margin-left:-8px;
    }

    .edge:hover {
        border: 3px solid yellow;
        margin-top:-3px;
        margin-left:-3px;
    }

}
