[submodule "libs/XPSDK"]
	path = libs/XPSDK
	url = https://github.com/PhilippMuenzel/SDK.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "libs/XPMP2"]
	path = libs/XPMP2
	url = https://github.com/TwinFan/XPMP2.git
	ignore = dirty
[submodule "libs/PPL"]
	path = libs/PPL
	url = https://github.com/PhilippMuenzel/PPL
	ignore = dirty
[submodule "libs/concurrentqueue"]
	path = libs/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
	ignore = dirty
[submodule "libs/asio"]
	path = libs/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "libs/websocketpp"]
	path = libs/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "libs/openflights"]
	path = libs/openflights
	url = https://github.com/jpatokal/openflights.git
