name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build-linux-mac:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:

      - name: print environment
        run: |
          echo "GITHUB_WORKSPACE=${GITHUB_WORKSPACE}"
          gcc --version
          cmake --version

      - name: checkout
        uses: actions/checkout@v2
        with: 
          submodules: 'recursive'

      - name: build googletest
        run: |
          cd ${GITHUB_WORKSPACE}/libs/googletest
          ls -la
          mkdir build && cd build
          cmake ..
          make
      
      - name: build PPL
        run: |
          cd ${GITHUB_WORKSPACE}/libs/PPL
          ls -la
          git apply ../../tools/patches/ppl-0001-adapt-cmakelists.patch
          cp -R ../../tools/patches/glew/include ../../libs/PPL/include/glew/
          mkdir build && cd build
          cmake ..
          make
          
      - name: build XPMP2
        run: |
          cd ${GITHUB_WORKSPACE}/libs/XPMP2
          ls -la
          mkdir build && cd build
          cmake ..
          make

      - name: build the plugin
        run: |
          cd ${GITHUB_WORKSPACE}
          ls -la
          mkdir build && cd build
          cmake ..
          make
          make test

      - name: run unit tests
        run: |
          cd ${GITHUB_WORKSPACE}/build
          ls -la
          make test

  build-windows:
    runs-on: windows-latest
    steps:

      - name: print environment
        run: |
          echo "GITHUB_WORKSPACE=${env:GITHUB_WORKSPACE}"
          gcc --version
          cmake --version

      - name: checkout
        uses: actions/checkout@v2
        with: 
          submodules: 'recursive'

      - name: build googletest
        run: |
          cd ${env:GITHUB_WORKSPACE}\libs\googletest
          dir
          mkdir build
          cd build
          cmake .. -G "MinGW Makefiles"
          make

      - name: build PPL
        run: |
          cd ${env:GITHUB_WORKSPACE}\libs\PPL
          dir
          git apply ..\..\tools\patches\ppl-0001-adapt-cmakelists.patch
          Copy-Item -Force -Recurse ..\..\tools\patches\glew\include ..\..\libs\PPL\include\glew\
          mkdir build
          cd build
          cmake .. -G "MinGW Makefiles"
          make
          
      - name: build XPMP2
        run: |
          cd ${env:GITHUB_WORKSPACE}\libs\XPMP2
          dir
          git apply ..\..\tools\patches\xpmp2-0001-adapt-cmakelists-to-mingw.patch
          mkdir build
          cd build
          cmake .. -G "MinGW Makefiles"
          make
      
      - name: build the plugin
        run: |
          cd ${env:GITHUB_WORKSPACE}
          dir
          mkdir build
          cd build
          cmake .. -G "MinGW Makefiles"
          make
          make test

      - name: run unit tests
        run: |
          cd ${env:GITHUB_WORKSPACE}\build
          dir
          make test

